body {
  background-color: #008000;
  color: #ffffff;
  font-family: "Do Hyeon", sans-serif;
}

.hand {
  height: auto;
  overflow: auto;
}

.interface {
  height: auto;
  overflow: auto;
  margin: 25px 0px;
  background: transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.card {
  display: inline-block;
  height: 185px;
  width: 132px;
  float: left;
}
